body {
    background-color: #eee;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/spiration-dark.png);
}

.bg-light{background-color: rgba(0, 0, 0, 0.404) !important}

.card {
    background-color: rgba(170, 170, 170, 0.575);
    color: #eee;
    box-shadow: 0 1px 2px 5px rgba(170, 170, 170, 0.575);
    border: none
}.card:hover {
    box-shadow: 0 0px 0px 0px transparent;
    border: 1px solid #fff
}

#reg_box, #login_box, #office1,#office2,#office3,#office4,#office5  {
    display: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    
}

#layout{
    padding: 50px;
    border-radius: 20px;
    position: absolute;
    left: 30%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.356);
    top: 10%;
    width: 40%;
    z-index: 2;
    /* margin: 0 30%; */
    color: white;
}


img{-webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);}

    .maps iframe{
        border: none;
        margin: 30px 0;
        box-shadow: 0 1px 2px 5px #3333
    }

